@charset "UTF-8"; 

.reg-content {
	width: 970px;
	margin: 0 auto
}

.reg-content .reg-head {
	margin-top: 30px;
	height: 36px;
	overflow: hidden;
	padding: 0 10px;
	border-bottom: 1px dashed #ececec
}

.reg-content .reg-head h3 {
	font-size: 16px;
	line-height: 36px;
	color: #5a5a5a;
	font-weight: bold;
}

.reg-body {
	padding-bottom: 20px
}

.reg-tip {
	font-size: 14px;
	color: #969696;
	padding-left: 10px
}

.reg-tabs {
	margin: 22px 0 45px 96px
}

.reg-tabs li {
	float: left;
}

.reg-tabs ul {
	height: 35px;
}

.reg-tabs a {
	background: url(../images/register/icon-reg.png) no-repeat 0 -40px;
	width: 125px;
	height: 35px;
	display: block;
	color: #000;
	line-height: 35px;
	text-align: center;
	margin-right: 36px;
}

.reg-tabs .active, .reg-tabs a:hover {
	background-position: 0 0;
	color: #fff
}

.reg-content .reg-forms {
	width: 100%;
	padding: 0
}

.reg-forms .reg-l {
	padding: 0 74px 0 100px;
	width: 414px;
	float: left;
}

.reg-forms .reg-r {
	width: 370px;
	float: left;
	border-left: 1px solid #d4d5d6
}

.reg-forms .reg-l .form-item {
	margin-top: 8px;
	line-height: 32px;
	color: #5a5a5a;
	position: relative;
}

.reg-forms .reg-l label {
	width: 100px;
	text-align: left;
	display: inline-block;
	position: relative;
}

.reg-forms .reg-l label i {
	color: red;
	font-style: normal;
	padding: 2px;
	position: absolute;
	right: 20px;
}

.reg-forms .reg-l .ipt {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding: 5px;
	width: 290px;
	border: 1px solid #d2d2d2;
	outline: none;
	position: absolute;
	left: 120px;
	*top: -4px;
}

.reg-forms .reg-l .tips, .reg-forms .reg-l .isagr {
	height: 20px;
	font-size: 12px;
	margin: 2px 0 2px 120px;
	line-height: 20px;
	overflow: hidden
}

.reg-forms .reg-l .isagr {
	color: #f45e64;
	margin-left: 140px;
	width: 200px;
	overflow: hidden
}

.reg-forms .reg-l .regok {
	color: #969696
}

.reg-forms .reg-l .ipt:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(0, 0, 0, 0.4);
}

.reg-forms .reg-l .reg-radio {
	background: url(../images/register/login_icon.png) no-repeat -39px
		-30px;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 5px;
	cursor: pointer;
	vertical-align: middle;
	top: -1px;
}

.reg-forms .reg-l .reg-radio.active {
	background-position: -12px -30px;
}

.whiteStyle .reg-forms .reg-l .reg-radio.active {
	background-position: -38px -52px;
}

.reg-forms .reg-l .reg-arg-box {
	margin-top: 24px;
	line-height: 20px;
}

.reg-forms .reg-l .reg-tk {
	color: #ffb260;
	margin: 0 5px 0 10px;
}

.reg-forms .reg-l .reg-arg {
	color: #737373
}

.reg-forms .reg-l .btn-reg {
	height: 42px;
	width: 100%;
	background: #f99c16;
	color: #fff;
	margin-top: 30px
}

.reg-forms .reg-l .btn-reg:hover {
	background: #ffb45b
}

.reg-r dl, .reg-r .reg-login {
	width: 282px;
	margin: 0 auto;
	color: #7c7c7c
}

.reg-r dl {
	min-height: 230px;
	line-height: 22px
}

.reg-r .reg-login .reg-sure {
	color: #737373;
	line-height: 36px;
}

.reg-r .reg-login .btn-login {
	width: 256px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #00cca3;
	display: block
}

.reg-r .reg-login .btn-login:hover {
	background: #0ea
}

.reg-r .normal-ques, .reg-r .ques-answer {
	line-height: 26px
}

.reg-forms .reg-l .ipt-verifycode {
	width: 120px;
}

.btn-a-verifycode {
	color: #fff;
	background-color: #00cca3;
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	width: 110px;
	text-align: center;
	display: inline-block;
	position: absolute;
	right: 20px;
}

.btn-a-verifycode.geting {
	background: #bbbcbc;
	cursor: default;
}

.reg-tip-item {
	margin-top: 74px;
}

.reg-tip-item.first {
	margin-top: 0;
}

.reg-tip-tit {
	color: #ffb260;
	font-weight: bold;
}

.win-form .ide_code {
	width: 202px;
	float: left;
	margin-right: 20px;
}

.win-form .code_img {
	float: left;
	margin-top: 6px;
	margin-right: 10px
}

.win-form .txt_code {
	float: left;
	color: #336699;
	line-height: 4;
	height: 22px;
	display: inline-block;
}

.win-form .rst, .win-font {
	display: block;
	text-align: right;
	color: #ff9c16;
	margin-top: 10px;
}

.third-login {
	border-top: 1px solid #d0d0d0;
	position: relative;
}

.third-login .txt {
	color: #d0d0d0;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -90px;
	display: inline-block;
	padding: 0 45px;
	background: #fff;
}

.suc_ico_y {
	background: url(../images/register/suc_ico.jpg) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: none;
	margin-left: 10px;
	right: -40px;
	position: absolute;
	top: 5px;
}

.reg-forms .reg-l .ipt-y {
	width: 120px;
}

.reg-forms .reg-l .code_img {
	position: absolute;
	left: 0;
	top: 0;
}

.reg-forms .reg-l .change_code {
	position: absolute;
	left: 100px;
	top: 7px;
}

.reg-forms .reg-l .txt_code {
	position: absolute;
	left: 370px;
	top: 0;
}

.reg-r .login-third-box {
	width: 282px;
	margin: 40px auto 65px;
}

.reg-r .login-third-box h3 {
	color: #787878;
}

.reg-r .login-third-box .btn-a-login {
	width: 92px;
	height: 40px;
	line-height: 40px;
	background: #97c7bd;
	color: #fff;
	display: block;
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 65px;
}

.reg-r .login-third-box .btn-a-login:hover {
	background: #00cca3;
}

.whiteStyle .reg-r .login-third-box .btn-a-login {
	background: #73B4BB;
}

.whiteStyle .reg-r .login-third-box .btn-a-login:hover {
	background: #00acff;
}

.reg-r .login-third-box .mgr-t50 {
	margin-bottom: 20px;
}

.a-third-item-y {
	display: block;
	width: 60px;
}

.reg-r .login-third-box .third-name {
	color: #787878;
	display: block;
	text-align: center;
	margin-top: 10px;
}

.mobile_login_bg {
	background: url(../images/register/bg_b.jpg) center top
		no-repeat;
}

.whiteStyle .mobile_login_bg {
	background: url(../images/register/bg_blue.jpg) center
		top no-repeat;
}

.mobile_login_bg .reg-head {
	background: url(../images/register/bg.jpg) 0 0
		no-repeat;
	width: 1200px;
	height: 168px;
	margin: 0 auto;
}

.whiteStyle .mobile_login_bg .reg-head {
	background: url(../images/register/bg_blue_cneter.jpg)
		0 0 no-repeat;
}

.mobile_login_bg .reg-head h3 {
	font-size: 24px;
	color: #333333;
	padding-top: 45px;
	padding-left: 130px;
}

.mobile_login_bg .reg-head .reg-tip {
	color: #787878;
	font-size: 14px;
	display: block;
	padding-left: 0;
	margin-top: 10px;
}

.mobile-suc {
	background: url(../images/register/tips_ico.jpg) 0 0
		no-repeat;
	height: 18px;
	line-height: 18px;
	padding-left: 30px;
	color: #777777;
	margin-top: 45px;
	margin-bottom: 45px;
}

.reg-forms .reg-l .ipt-y1 {
	left: 100px;
}

.time_btn_dis {
	border-radius: 5px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: #d0d0d0;
	color: #fff;
	cursor: pointer;
	width: 110px;
	display: inline-block;
	margin-left: 5px;
}

.time_btn {
	background: #00b38f;
}

.suc_tips {
	background: url(../images/register/suc_ico.jpg) 0 0 no-repeat;
	padding-left: 30px;
	height: 18px;
	line-height: 18px;
	color: #b2b2b2;
	font-size: 14px;
}

.third_img {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../images/register/qq_ico.jpg) 0 0 no-repeat;
}

#third-name-qq {
	width: 60px;
	height: 60px;
}

a:hover .third_img {
	background-position: 0 bottom;
}

#reg-next {
	height: 42px;
	width: 100%;
	background: #f99c16;
	color: #fff;
	margin-top: 30px
}

#reg-next:hover {
	background: #ffb45b
}

#return_first_page {
	height: 42px;
	width: 100%;
	background: #f99c16;
	color: #fff;
	margin-top: 30px;
	display: block;
	text-align: center;
	padding-top: 20px;
}

#return_first_page.hover {
	background: #ffb45b;
}

.mobile-suc .e-suc {
	height: 18px;
	line-height: 18px;
	color: #777777;
	margin-top: 45px;
	margin-bottom: 45px;
}

#phone-tip {
	background: url(../images/register/tips_ico.jpg) 0 0
		no-repeat;
	padding-left: 30px;
}

#e-tip {
	background: url(../images/register/icon-email.png) 0 0
		no-repeat;
	line-height: 24px;
	font-size: 18px;
	font-weight: 400;
	padding: 70px 0 70px 180px;
	background-position: 20% 50%;
}

.whiteStyle #e-tip {
	background: url(../images/register/icon-email-b.png) 0 0 no-repeat;
	background-position: 20% 50%;
}

.verifyCode_tip {
	padding-left: 140px;
	margin-top: 5px;
	padding-top: 3px;
	line-height: 19px;
	color: #f45e64;
	background: url('../images/register/wrong_tips_ico.jpg') no-repeat
		-12px -93px;
	font-size: 12px;
	background-position: 29% 31%;
	height: 30px;
}